@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
main object,
address,
code,
em,
small,
strong,
var,
article,
aside,
details,
figure,
summary,
time,
mark,
audio,
center {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

iframe,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
picture {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="password"] {
  font: 17px Verdana, sans-serif !important;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input:-webkit-autofill {
  -webkit-transition: background-color 100000s ease-in-out 0s;
  transition: background-color 100000s ease-in-out 0s;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

[hidden] {
  display: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
}

.d_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_i_f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.f_w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f_n_w {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f_d_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j_c_st {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j_c_e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j_c_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j_c_b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a_i_s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a_i_e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.a_i_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--global_color);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: white;
}

:root {
  --color_global: #10c459;
  --color_global_hover: #30e076;
  --color_red: #cd123f;
  --color_red_hover: #a6093d;
  --color_text: #232c31;
  --border-radius: 6px;
  --transition-all: .3s;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 1279.98px) {
  .container {
    padding: 0 16px;
  }
}

.button-form button {
  background-color: var(--color-global);
  padding: 13px 0;
  color: white;
  border-radius: var(--border-radius);
  font-size: 16px;
}

.btn {
  position: relative;
  overflow: hidden;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn:before {
  content: "";
  position: absolute;
  width: 3em;
  height: 100%;
  top: 0;
  left: -35%;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
}

.btn:hover:before {
  left: 130%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-global);
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.d_none {
  display: none;
}

@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("/assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@media (min-width: 768px) {
  app-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
  }
}

.header-nav {
  position: relative;
}

.header-nav.onscroll {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (max-width: 767.98px) {
  .header-nav {
    display: none;
  }
}

.header-nav__box--logo {
  max-width: 75px;
  width: 100%;
  height: 110px;
  margin-left: 30px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.header-nav__box--menu {
  margin-left: 15px;
}

.header-nav__box--menu-list {
  margin-right: 60px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--menu-list {
    display: none;
  }
}

.header-nav__box--menu-list__item + .header-nav__box--menu-list__item {
  margin-left: 16px;
}

.header-nav__box--menu-link {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  padding: 11px 0;
  color: var(--color_text);
}

.header-nav__box--menu-link:hover {
  color: var(--color_global);
}

.header-nav__box--menu-geolocation {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  color: #AFB6BD;
}

@media (max-width: 1279.98px) {
  .header-nav__box--menu-geolocation {
    display: none;
  }
}

@media (max-width: 1279.98px) {
  .header-nav__box--info {
    width: calc(100% - 111px);
  }
}

.header-nav__box--info-delivery {
  font: 15px/18px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
  margin-right: 5px;
  margin-right: 32px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--info-delivery {
    margin-left: 160px;
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--info-delivery {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 1279.98px) {
  .header-nav__box--info-support {
    margin-left: auto;
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--info-support {
    display: none;
  }
}

.header-nav__box--info-support p {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  color: #828282;
  margin-right: 11px;
}

.header-nav__box--info-support a {
  font: 15px/18px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
}

.header-nav__box--info-support a:hover {
  color: var(--color_global);
}

.header-content {
  background-color: #ececec;
  padding: 12px 0;
  z-index: 9;
  position: relative;
}

.header-content__box--catalog {
  min-width: 170px;
  max-width: 170px;
  width: 100%;
  height: 100%;
}

.header-content__box--catalog__btn {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  color: white;
  text-align: left;
  background-color: var(--color_red);
}

.header-content__box--catalog__btn:hover {
  background-color: var(--color_red_hover);
}

.header-content__box--catalog__btn span {
  font: 13px "NotoSansArmenian-ExtraBold", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.headerCatalog {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999999;
}

@media (max-width: 767.98px) {
  .headerCatalog {
    position: fixed;
    height: 100%;
    top: 53px;
  }
}

@media (min-width: 768px) and (max-height: 470px) {
  .headerCatalog {
    height: calc(100vh - 105px);
  }
}

.header-catalog {
  background-color: white;
  position: relative;
  z-index: 9999999;
  overflow: hidden;
}

@media (min-width: 768px) and (max-height: 470px) {
  .header-catalog {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-catalog .container {
    height: 100%;
  }
}

.header-catalog__list {
  width: 340px;
  height: 368px;
  padding: 45px 22px 45px 15px;
  position: relative;
  background-color: #F5F5F5;
}

@media (max-width: 1439.98px) {
  .header-catalog__list {
    margin-left: -15px;
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list {
    width: auto;
    height: calc(100vh - 53px);
    margin-right: -15px;
    background-color: white;
    padding: 0 15px 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-height: 470px) {
  .header-catalog__list {
    height: auto;
  }
}

.header-catalog__list--item {
  margin-right: -22px;
  margin-left: -15px;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item {
    margin-right: -15px;
    margin-left: -20px;
    border-bottom: 1px solid #E0E0E0;
  }
}

.header-catalog__list--item-name {
  min-height: 45px;
  padding: 5px 22px 5px 15px;
  position: relative;
}

.header-catalog__list--item-name p {
  width: calc(100% - 6px);
  padding-right: 10px;
}

.header-catalog__list--item-name p .icon {
  font-size: 17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  color: #3C444B;
  margin-right: 11px;
}

.header-catalog__list--item-name p span {
  font: 16px "NotoSansArmenian-Regular", sans-serif;
  color: var(--catalog_color_text);
}

.header-catalog__list--item-name .icon {
  font-size: 10px;
  color: #AFB6BD;
}

.header-catalog__list--item-name.active, .header-catalog__list--item-name:hover {
  background-color: white;
}

.header-catalog__list--item-name.active p .icon, .header-catalog__list--item-name:hover p .icon {
  color: var(--color_global_hover);
}

.header-catalog__list--item-name.active .icon, .header-catalog__list--item-name:hover .icon {
  color: var(--color_global_hover);
}

.header-catalog__list--item-sub {
  width: calc(1500px - 340px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  padding: 39px 0 22px 32px;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1439.98px) {
  .header-catalog__list--item-sub {
    width: calc(1200px - 340px);
  }
}

@media (max-width: 1279.98px) {
  .header-catalog__list--item-sub {
    width: calc(964px - 340px);
  }
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub {
    width: calc(768px - 340px);
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub {
    width: 100%;
    padding: 0;
    background-color: white;
    z-index: 99;
  }
}

@media (min-width: 768px) and (max-height: 470px) {
  .header-catalog__list--item-sub {
    padding: 39px 15px 22px 32px;
  }
}

.header-catalog__list--item-sub.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub.open {
    left: 0;
  }
}

.header-catalog__list--item-sub__categories {
  width: 100%;
  height: 100%;
}

.header-catalog__list--item-sub__categories::-webkit-scrollbar-track {
  background-color: #f0f1f2;
}

.header-catalog__list--item-sub__categories--box {
  width: calc(100% - 630px);
  margin-right: 22px;
}

@media (max-width: 1439.98px) {
  .header-catalog__list--item-sub__categories--box {
    width: calc(100% - 116px);
    margin-right: 0;
  }
}

@media (max-width: 1279.98px) {
  .header-catalog__list--item-sub__categories--box {
    width: 100%;
  }
}

.header-catalog__list--item-sub__categories--box-title {
  font: 18px/22px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--catalog_color_text);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-left: 10px;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-title {
    display: none;
  }
}

.header-catalog__list--item-sub__categories--box-links li {
  width: 50%;
  padding: 10px;
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub__categories--box-links li {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-links li {
    border-bottom: 1px solid #E0E0E0;
  }
}

.header-catalog__list--item-sub__categories--box-links li a {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  color: var(--catalog_color_text);
}

.header-catalog__list--item-sub__categories--box-links li a:hover {
  color: var(--color_global_hover);
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub__categories--box-links li a {
    display: block;
    padding: 10px;
  }
}

.header-catalog__list--item-sub__categories--img {
  max-width: 630px;
  width: 100%;
}

@media (max-width: 1439.98px) {
  .header-catalog__list--item-sub__categories--img {
    max-width: 116px;
  }
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub__categories--img {
    display: none;
  }
}

.header-catalog__list--item-sub__categories--img a {
  width: 50%;
  height: 153px;
  padding: 5px;
}

@media (max-width: 1439.98px) {
  .header-catalog__list--item-sub__categories--img a {
    width: 116px;
    height: 50px;
  }
}

.header-catalog__list--item-sub__categories--img a img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-catalog__list--item-sub__categories--img a:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*======================-FILTER-STYLE-START-========================*/
.search-section {
  background-color: var(--color-global);
  -webkit-box-shadow: 0px 0px 26px -4px #10c459;
  box-shadow: 0px 0px 26px -4px #10c459;
  padding: 40px 0;
  border-radius: 20px;
}

.search-section__block--filter {
  margin: 25px 0;
}

.search-section__block--filter-list {
  max-width: 350px;
  width: 100%;
  background-color: #EEE;
  padding: 5px;
  border-radius: var(--border-radius);
}

.search-section__block--filter-list input {
  width: 100%;
  padding: 5px;
  background-color: #EEE;
  border: none;
  color: #777777;
  font-size: 16px;
}

.search-section__block--filter-main {
  max-width: 350px;
  width: 100%;
  margin-left: 30px;
  position: relative;
  height: 5px;
}

.search-section__block--title p {
  max-width: 350px;
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  color: var(--color-dark);
  margin-top: 20px;
  text-align: center;
}

.search-section__block--title p + p {
  margin-left: 30px;
}

.search-section__block--filter-main > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}

.search-section__block--filter-main > div > .inverse-left {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

.search-section__block--filter-main > div > .inverse-right {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

.search-section__block--filter-main > div > .range {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: #d02128;
}

.search-section__block--filter-main .range-thumb {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

.search-section__block--filter-main .range-calc {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  opacity: 0;
}

.search-section__block--filter-main .range-calc:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.search-section__block--filter-main .range-calc:focus {
  outline: none;
}

.search-section__block--filter-main .range-calc::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

.search-section__block--filter-main .range-calc::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

.search-section__block--filter-main .range-calc::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.search-section__block--filter-main .range-calc::-ms-tooltip {
  display: none;
}

.search-section__block--filter-main > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -26px;
  top: -45px;
  z-index: 3;
  background-color: #d02128;
  color: #fff;
  width: 50px;
  height: 35px;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.search-section__block--filter-main > div > [sign]:after {
  position: absolute;
  content: '';
  left: 2px;
  border-radius: 16px;
  top: 27px;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top-width: 19px;
  border-top-style: solid;
  border-top-color: #d02128;
}

.search-section__block--filter-main > div > [sign] > span {
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
}

.search-section__block--filter-main:hover > div > [sign] {
  opacity: 1;
}

/*=======================-FILTER-STYLE-END-=========================*/
/*# sourceMappingURL=style.css.map */