@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icons/icomoon.eot?mbk7ji");
  src: url("../assets/fonts/icons/icomoon.eot?mbk7ji#iefix") format("embedded-opentype"), url("../assets/fonts/icons/icomoon.ttf?mbk7ji") format("truetype"), url("../assets/fonts/icons/icomoon.woff?mbk7ji") format("woff"), url("../assets/fonts/icons/icomoon.svg?mbk7ji#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon::before {
  display: block;
}

.icon-login:before {
  content: "\e908";
}

.icon-envelope:before {
  content: "\e911";
}

.icon-clock:before {
  content: "\e915";
}

.icon-play:before {
  content: "\e916";
}

.icon-pause:before {
  content: "\e917";
}

.icon-refresh:before {
  content: "\e918";
}

.icon-phone:before {
  content: "\e919";
}

.icon-gift:before {
  content: "\e91b";
}

.icon-earth:before {
  content: "\e91c";
}

.icon-user:before {
  content: "\e912";
}

.icon-heart:before {
  content: "\e91a";
}

.icon-home:before {
  content: "\e900";
}

.icon-health:before {
  content: "\e901";
}

.icon-share:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e913";
}

.icon-trash:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e914";
}

.icon-location:before {
  content: "\e90a";
}

.icon-bubble:before {
  content: "\e90b";
}

.icon-clock1:before {
  content: "\e903";
}

.icon-t-shirt:before {
  content: "\e904";
}

.icon-clip:before {
  content: "\e90c";
}

.icon-eye-hidden:before {
  content: "\e905";
}

.icon-eye:before {
  content: "\e906";
}

.icon-soccer-ball:before {
  content: "\e907";
}

.icon-sports-shoe:before {
  content: "\e90d";
}

.icon-mail-envelope-open:before {
  content: "\e90e";
}

.icon-mail-envelope-closed:before {
  content: "\e90f";
}

.icon-printer:before {
  content: "\e910";
}

.icon-azurepipelines:before {
  content: "\e91d";
}

.icon-facebook:before {
  content: "\e91e";
}

.icon-instagram:before {
  content: "\e91f";
}

.icon-messenger:before {
  content: "\e920";
}

.icon-skype:before {
  content: "\e921";
}

.icon-viber:before {
  content: "\e922";
}

.icon-vk:before {
  content: "\e923";
}

.icon-whatsapp:before {
  content: "\e924";
}

.icon-youtube:before {
  content: "\e925";
}

.icon-airplane:before {
  content: "\e926";
}

.icon-computer-laptop:before {
  content: "\e927";
}

.icon-travel-car:before {
  content: "\e928";
}

.icon-arrow-thin-left:before {
  content: "\e92b";
}

.icon-cheveron-left:before {
  content: "\e929";
}

.icon-cheveron-right:before {
  content: "\e92a";
}

.icon-cancel:before {
  content: "\e92d";
}

.icon-catalog:before {
  content: "\e92c";
}

.icon-cart:before {
  content: "\e92e";
}

.d_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d_i_f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.f_w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f_n_w {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.f_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f_d_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j_c_st {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j_c_e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j_c_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j_c_b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a_i_s {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a_i_e {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.a_i_c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
main object,
address,
code,
em,
small,
strong,
var,
article,
aside,
details,
figure,
summary,
time,
mark,
audio,
center {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

iframe,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
picture {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

input {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="password"] {
  font: 17px Verdana, sans-serif !important;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input:-webkit-autofill {
  -webkit-transition: background-color 100000s ease-in-out 0s;
  transition: background-color 100000s ease-in-out 0s;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

strong {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
}

:root {
  --color_global: #10c459;
  --color_global_hover: #30e076;
  --color_red: #cd123f;
  --color_red_hover: #a6093d;
  --color_text: #232c31;
  --border-radius: 6px;
  --transition-all: .3s;
}

.slick-carousel {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  cursor: default;
}

.slick-arrow {
  position: absolute;
  background-color: #AFB6BD;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}

.slick-arrow:hover {
  background-color: #3C444B;
}

.slick-arrow:before {
  font-size: 11px;
  color: #232C31;
}

.slick-arrow:hover:before {
  color: #AFB6BD;
}

.slick-prev {
  left: 0;
}

.slick-prev:before {
  content: "\e903";
}

.slick-next {
  right: 0;
}

.slick-next:before {
  content: "\e902";
}

.slick-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.crumb {
  padding: 16px 0;
}

.crumb-list {
  margin: 0 -4px;
}

.crumb-list__item {
  padding: 5px 4px;
  font: 13px/13px "NotoSansArmenian-Regular", sans-serif;
  color: #828282;
}

.crumb-list__item--link {
  color: #828282;
}

.crumb-list__item--link:hover {
  color: var(--color_global);
}

.cards {
  margin: -10px;
}

.cards-catalog {
  margin: -1.5px;
}

.cards-product {
  width: 20%;
  padding: 10px;
}

@media (max-width: 1439.98px) {
  .cards-product {
    width: 25%;
  }
}

@media (max-width: 1023.98px) {
  .cards-product {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .cards-product {
    width: 100%;
  }
}

.cards-product-catalog {
  width: 25%;
  padding: 1.5px;
}

.cards-product-catalog:hover {
  -webkit-box-shadow: 5px 5px 20px #cbcbcb;
          box-shadow: 5px 5px 20px #cbcbcb;
  z-index: 999;
}

.cards-product__item {
  height: 100%;
  background-color: white;
  padding: 40px 25px 40px;
  position: relative;
}

.cards-product__item--img {
  height: 153px;
  margin: 0 auto 30px;
}

.cards-product__item--name {
  margin-bottom: 25px;
}

@media (max-width: 1023.98px) {
  .cards-product__item--name {
    min-height: auto;
  }
}

.cards-product__item--name a {
  font: 16px/1.25 "OpenSans-SemiBold", sans-serif;
  color: #3b474e;
}

.cards-product__item--name a:hover {
  color: var(--color_global);
}

.cards-product__item--price {
  margin-bottom: 25px;
}

.cards-product__item--price p {
  font: 20px "OpenSans-SemiBold", sans-serif;
  color: var(--color_text);
  letter-spacing: -0.36px;
}

.cards-product__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  font-size: 20px;
  color: #c5c5c5;
}

.cards-product__icon:hover {
  color: var(--color_red);
}

.cards-product__icon.active {
  color: var(--color_red);
}

.cards-product__icon.active:hover {
  opacity: .8;
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.increment {
  width: 88px;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.increment .icon {
  width: 20px;
  height: 100%;
  font-size: 7px;
  color: var(--text_color);
  background-color: #F0F1F2;
  cursor: pointer;
}

.increment .icon:hover {
  background-color: var(--color_global);
  color: white;
}

.increment-input {
  width: calc(100% - 40px);
  height: 100%;
  font: 15px "NotoSansArmenian-Regular", sans-serif;
  color: var(--text_color);
  text-align: center;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.increment-input:focus {
  border-top: 2px solid #4B7396;
  border-bottom: 2px solid #4B7396;
}

.btn-global {
  width: 100%;
  height: 100%;
  font: 12px "NotoSansArmenian-ExtraBold", sans-serif;
  color: white;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
}

.btn-global__red {
  background-color: var(--color_red);
}

.btn-global__red:hover {
  background-color: var(--color_red_hover);
}

button[disabled] {
  background-color: #F0F1F2 !important;
  color: #AFB6BD !important;
  pointer-events: none !important;
  cursor: default !important;
}

@-webkit-keyframes lineTo {
  from {
    top: -250px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes lineTo {
  from {
    top: -250px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.lineTo {
  -webkit-animation-name: lineTo;
          animation-name: lineTo;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.empty {
  padding: 62px 15px 98px;
  background-color: white;
  margin-top: 29px;
  margin-bottom: 50px;
}

@media (max-width: 1023.98px) {
  .empty {
    padding: 30px 15px 40px;
  }
}

.empty-box {
  max-width: 1010px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1023.98px) {
  .empty-box {
    display: block;
  }
}

.empty-box__text {
  width: calc(100% - 400px);
  color: var(--color_text);
  padding-right: 50px;
}

@media (max-width: 1023.98px) {
  .empty-box__text {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
}

.empty-box__text--title {
  font: 27px "NotoSansArmenian-Regular", sans-serif;
  margin-bottom: 28px;
}

@media (max-width: 767.98px) {
  .empty-box__text--title {
    font-size: 22px;
  }
}

.empty-box__text--info {
  font: 20px "NotoSansArmenian-Regular", sans-serif;
}

@media (max-width: 767.98px) {
  .empty-box__text--info {
    font-size: 16px;
  }
}

.empty-box__text--info a {
  color: var(--color_global);
}

.empty-box__text--info a:hover {
  color: var(--color_red);
}

.empty-box__text--btn {
  max-width: 220px;
  width: 100%;
  margin: 30px auto 0;
}

.empty-box__img {
  max-width: 400px;
  width: 100%;
  height: 400px;
}

@media (max-width: 1023.98px) {
  .empty-box__img {
    max-width: 100%;
    margin-top: 30px;
    height: 300px;
  }
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.catalog-box__cards--filter {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 1.5px;
}

.catalog-box__cards--filter-main__dropdown {
  position: relative;
}

.catalog-box__cards--filter-main__dropdown--choose input {
  background: white;
  cursor: pointer;
}

.catalog-box__cards--filter-main__dropdown--sections {
  display: none;
  position: absolute;
  z-index: 99999999;
  width: 100%;
  padding: 10px;
  top: 25px;
  border-radius: 5px;
  background-color: var(--color_global);
}

.catalog-box__cards--filter-main__dropdown--sections ul li {
  font: 14px "NotoSansArmenian-ExtraBold", sans-serif;
  color: white;
  padding: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-box__cards--filter-main__dropdown--sections ul li + li {
  border-top: 1px solid white;
}

.catalog-box__cards--filter-main__dropdown--sections ul li:hover {
  color: var(--color_red_hover);
}

.catalog-box__cards--filter-btn button {
  padding: 5px 15px;
  background-color: var(--color_red);
  border-radius: var(--border-radius);
  color: white;
  font: 16px "NotoSansArmenian-ExtraBold", sans-serif;
}

.filter-section {
  width: 350px;
  height: 30px;
}

.filter-slider {
  width: 100%;
  margin-left: 30px;
  position: relative;
  height: 5px;
}

.filter-slider__block {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}

.filter-slider .range-thumb {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

.filter-slider .range-calc {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 30px;
  top: -14px;
  width: 100%;
  opacity: 0;
}

.filter-slider .range-calc:focus {
  outline: none;
}

.filter-slider .range-calc:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.filter-slider .range-calc::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

.filter-slider .range-calc::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

.filter-slider .range-calc::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.filter-slider .range-calc::-ms-tooltip {
  display: none;
}

.filter-slider > div > .inverse-left {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

.filter-slider > div > .inverse-right {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

.filter-slider > div > .range {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: #d02128;
}

.filter-slider > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -26px;
  z-index: 999999;
  top: -45px;
  background-color: #d02128;
  color: #fff;
  width: 50px;
  height: 35px;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter-slider > div > [sign]:after {
  position: absolute;
  content: '';
  left: 2px;
  border-radius: 16px;
  top: 27px;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top-width: 19px;
  border-top-style: solid;
  border-top-color: #d02128;
}

.filter-slider > div > [sign] > span {
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
}

.filter-slider:hover > div > [sign] {
  opacity: 1;
}

/*=======================-FILTER-STYLE-END-=========================*/
body {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767.98px) {
  body {
    padding-top: 126px;
  }
}

.container {
  max-width: 1580px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 1279.98px) {
  .container {
    padding: 0 16px;
  }
}

.title {
  margin-bottom: 40px;
}

.title-all {
  color: var(--color_text);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.title-global {
  font: 28px/40px "NotoSansArmenian-ExtraBold", sans-serif;
}

@media (max-width: 1023.98px) {
  .title-global {
    font: 24px/28px "NotoSansArmenian-ExtraBold", sans-serif;
  }
}

.title-second {
  font: 24px/28px "NotoSansArmenian-ExtraBold", sans-serif;
}

@media (max-width: 1023.98px) {
  .title-second {
    font: 20px/24px "NotoSansArmenian-ExtraBold", sans-serif;
  }
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: white;
}

.header-nav {
  position: relative;
  padding: 8px 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header-nav.nav-scrollDown {
  margin-top: -76px;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 767.98px) {
  .header-nav.nav-scrollDown {
    margin-top: -62px;
  }
}

.header-nav__box--logo {
  max-width: 292px;
  width: 100%;
  height: 60px;
}

@media (max-width: 1023.98px) {
  .header-nav__box--logo {
    max-width: 220px;
    height: 46px;
  }
}

.header-nav__box--menu {
  margin-left: 45px;
}

@media (max-width: 767.98px) {
  .header-nav__box--menu {
    display: none;
  }
}

.header-nav__box--menu-list__item + .header-nav__box--menu-list__item {
  margin-left: 16px;
}

.header-nav__box--menu-link {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  padding: 11px 0;
  color: var(--color_text);
}

.header-nav__box--menu-link:hover {
  color: var(--color_global);
}

.header-nav__box--info {
  margin-left: auto;
}

.header-nav__box--info-delivery {
  font: 15px/18px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
  margin-right: 5px;
  margin-right: 32px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--info-delivery {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .header-nav__box--info-support {
    display: none;
  }
}

.header-nav__box--info-support p {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  color: #828282;
  margin-right: 25px;
}

@media (max-width: 1279.98px) {
  .header-nav__box--info-support p {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-nav__box--info-support a {
    display: none;
  }
}

.header-nav__box--info-support a .icon {
  font-size: 16px;
  color: var(--color_global);
}

.header-nav__box--info-support a span {
  font: 15px/18px "OpenSans-Regular", sans-serif;
  color: var(--color_text);
  margin-left: 10px;
}

.header-nav__box--info-support a span:hover {
  color: var(--color_global);
}

@media (max-width: 767.98px) {
  .header-nav__box--info-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    font-size: 18px;
    color: white;
    background-color: var(--color_red);
    border-radius: 50%;
  }
  .header-nav__box--info-search {
    width: 100%;
    height: 62px;
    background-color: #797979;
    padding: 8px 5px 8px 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .header-nav__box--info-search__form {
    width: calc(100% - 30px);
    position: relative;
  }
  .header-nav__box--info-search__form .icon-search {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    z-index: 9;
    font-size: 18px;
    color: white;
    background-color: var(--color_red);
  }
  .header-nav__box--info-search__btn {
    width: 50px;
    font-size: 18px;
    color: white;
  }
}

.header-content {
  background-color: #ececec;
  padding: 12px 0;
  position: relative;
}

.header-content__box--catalog {
  min-width: 170px;
  max-width: 170px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

@media (max-width: 767.98px) {
  .header-content__box--catalog {
    min-width: 140px;
    max-width: 140px;
    margin-right: 0;
  }
  .header-content__box--catalog.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--color_red);
    z-index: 99999;
  }
  .header-content__box--catalog.active .header-content__box--catalog__btn .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 9;
  }
}

.header-content__box--catalog .icon-arrow-thin-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: white;
  text-align: center;
  z-index: 999999;
}

.header-content__box--catalog__btn {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  color: white;
  background-color: var(--color_red);
  position: relative;
}

.header-content__box--catalog__btn:hover {
  background-color: var(--color_red_hover);
}

@media (max-width: 767.98px) {
  .header-content__box--catalog__btn {
    padding: 0 15px;
  }
  .header-content__box--catalog__btn:hover {
    background-color: var(--color_red);
  }
}

.header-content__box--catalog__btn span {
  font: 13px "NotoSansArmenian-ExtraBold", sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: auto;
}

@media (max-width: 767.98px) {
  .header-content__box--catalog__btn span {
    margin: 0;
  }
}

.header-content__box--catalog__btn .icon {
  font-size: 14px;
  margin-left: auto;
}

.header-content__box--search {
  max-width: 588px;
  width: 100%;
  height: 40px;
  background-color: white;
  padding: 8px 5px 8px 14px;
  position: relative;
}

@media (max-width: 767.98px) {
  .header-content__box--search {
    display: none;
  }
}

.header-content__box--search-input {
  width: 100%;
  height: 100%;
  border: 0;
  font: 15px "NotoSansArmenian-Regular", sans-serif;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 27px;
  padding-right: 37px;
  color: var(--color_text);
  letter-spacing: 0.04em;
}

@media (max-width: 767.98px) {
  .header-content__box--search-input {
    padding-right: 60px;
    padding-left: 15px;
  }
}

.header-content__box--search-input::placeholder, .header-content__box--search-input::-moz-placeholder {
  font: 15px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
}

.header-content__box--search .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
}

.header-content__box--search .icon-search {
  font-size: 16px;
  color: var(--color_red);
  left: 15px;
}

.header-content__box--search .icon-cancel {
  font-size: 12px;
  color: var(--color_red);
  right: 13px;
  cursor: pointer;
}

.header-content__box--icons {
  margin-left: auto;
}

.header-content__box--icons-link {
  margin-left: 35px;
  font-size: 24px;
  color: var(--color_red);
  position: relative;
}

@media (max-width: 767.98px) {
  .header-content__box--icons-link {
    margin-left: 25px;
  }
}

.header-content__box--icons-link:hover {
  color: var(--color_red_hover);
}

.header-content__box--icons-link__counter {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 22px;
  height: 22px;
  background-color: var(--color_red);
  color: white;
  font: 12px "NotoSansArmenian-Regular", sans-serif;
  border-radius: 50%;
}

.headerCatalog {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999999;
}

@media (max-width: 767.98px) {
  .headerCatalog {
    position: fixed;
    height: 100%;
    top: 50px;
  }
}

@media (min-width: 768px) and (max-height: 470px) {
  .headerCatalog {
    height: calc(100vh - 105px);
  }
}

.header-catalog {
  background-color: white;
  z-index: 9999999;
  overflow: hidden;
}

.header-catalog__container {
  position: relative;
}

@media (min-width: 768px) and (max-height: 470px) {
  .header-catalog {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-catalog__container {
    height: 100%;
  }
}

.header-catalog__list {
  width: 340px;
  padding: 25px 15px 0;
  background-color: #F5F5F5;
}

@media (max-width: 767.98px) {
  .header-catalog__list {
    width: auto;
    height: calc(100vh - 40px);
    background-color: white;
    padding: 0 15px;
    margin: 0 -15px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-height: 470px) {
  .header-catalog__list {
    height: auto;
  }
}

.header-catalog__list--item {
  margin: 0 -15px;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item {
    border-bottom: 1px solid #E0E0E0;
  }
}

.header-catalog__list--item-name {
  min-height: 45px;
  padding: 5px 22px 5px 15px;
  position: relative;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-name {
    padding: 5px 15px;
  }
}

.header-catalog__list--item-name p {
  width: calc(100% - 6px);
  padding-right: 10px;
}

.header-catalog__list--item-name p .icon {
  font-size: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  color: #3C444B;
  margin-right: 11px;
}

.header-catalog__list--item-name p span {
  font: 16px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
}

.header-catalog__list--item-name .icon-cheveron-right {
  font-size: 15px;
  color: #AFB6BD;
}

.header-catalog__list--item-name.active, .header-catalog__list--item-name:hover {
  background-color: white;
}

.header-catalog__list--item-name.active p .icon, .header-catalog__list--item-name:hover p .icon {
  color: var(--color_global_hover);
}

.header-catalog__list--item-name.active p span, .header-catalog__list--item-name:hover p span {
  color: var(--color_global);
}

.header-catalog__list--item-name.active .icon-cheveron-right, .header-catalog__list--item-name:hover .icon-cheveron-right {
  color: var(--color_global_hover);
}

.header-catalog__list--item-all {
  font: 16px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
  padding: 11px 15px;
  text-align: center;
  display: block;
}

.header-catalog__list--item-all:hover {
  background-color: var(--color_red);
  color: white;
}

.header-catalog__list--item-sub {
  width: calc(100% - 380px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 39px 25px 22px 32px;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1279.98px) {
  .header-catalog__list--item-sub {
    width: calc(100% - 355px);
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub {
    width: 100%;
    padding: 0;
    z-index: 999999;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
}

.header-catalog__list--item-sub.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header-catalog__list--item-sub__categories {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-catalog__list--item-sub__categories--box {
  width: 55%;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box {
    width: 100%;
  }
}

.header-catalog__list--item-sub__categories--box-title {
  font: 18px/22px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_global);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-left: 10px;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-title {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-links {
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.header-catalog__list--item-sub__categories--box-links li {
  width: 50%;
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub__categories--box-links li {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-links li {
    border-bottom: 1px solid #E0E0E0;
  }
}

.header-catalog__list--item-sub__categories--box-links li a {
  font: 15px/18px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
  padding: 10px;
}

.header-catalog__list--item-sub__categories--box-links li a:hover {
  color: var(--color_global_hover);
}

@media (max-width: 1023.98px) {
  .header-catalog__list--item-sub__categories--box-links li a {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--box-links li a {
    padding: 15px;
  }
}

.header-catalog__list--item-sub__categories--img {
  width: 45%;
}

@media (max-width: 767.98px) {
  .header-catalog__list--item-sub__categories--img {
    display: none;
  }
}

.header-catalog__list--item-sub__categories--img a {
  width: 50%;
  height: 150px;
  padding: 5px;
}

@media (max-width: 1279.98px) {
  .header-catalog__list--item-sub__categories--img a {
    width: 100%;
  }
  .header-catalog__list--item-sub__categories--img a:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
  }
}

.header-catalog__list--item-sub__categories--img a img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-catalog__list--item-sub__categories--img a:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  background-color: #ececec;
  padding: 25px 0;
  margin-top: auto;
}

@media (max-width: 767.98px) {
  .footer-main__block {
    display: block;
  }
}

.footer-main__block--logo {
  width: 80px;
  height: 130px;
}

@media (max-width: 767.98px) {
  .footer-main__block--logo {
    margin: 0 auto 25px;
  }
}

.footer-main__block--info {
  width: calc(100% - 80px);
  padding-left: 45px;
}

@media (max-width: 767.98px) {
  .footer-main__block--info {
    width: 100%;
    padding-left: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767.98px) {
  .footer-main__block--info-menu {
    width: 40%;
    display: block;
  }
}

.footer-main__block--info-menu__item + .footer-main__block--info-menu__item {
  margin-left: 15px;
}

@media (max-width: 767.98px) {
  .footer-main__block--info-menu__item + .footer-main__block--info-menu__item {
    margin-top: 15px;
    margin-left: 0;
  }
}

.footer-main__block--info-menu__item--link {
  font: 15px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
}

.footer-main__block--info-menu__item--link:hover {
  color: var(--color_global);
}

@media (max-width: 767.98px) {
  .footer-main__block--info-menu__item--link {
    font-size: 14px;
  }
}

.footer-main__block--info-callcenter {
  margin-left: auto;
}

@media (max-width: 1023.98px) {
  .footer-main__block--info-callcenter {
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .footer-main__block--info-callcenter {
    width: 60%;
    display: block;
    margin-top: 0;
    text-align: right;
  }
}

.footer-main__block--info-callcenter__link {
  font: 15px "OpenSans-Regular", sans-serif;
  color: var(--color_global);
  margin-right: 20px;
}

.footer-main__block--info-callcenter__link:hover {
  color: var(--color_red);
}

@media (max-width: 767.98px) {
  .footer-main__block--info-callcenter__link {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.footer-main__block--info-callcenter__icon {
  font-size: 20px;
  color: var(--color_global);
  margin-left: 15px;
}

.footer-main__block--info-callcenter__icon:hover {
  color: var(--color_red);
}

.footer-main__block--info-rules {
  width: 100%;
  margin-top: 35px;
}

@media (max-width: 767.98px) {
  .footer-main__block--info-rules {
    display: block;
  }
}

.footer-main__block--info-rules__cards {
  width: 125px;
  height: 30px;
}

.footer-main__block--info-rules__nvercard {
  font: 14px "NotoSansArmenian-Regular", sans-serif;
  color: #797F83;
}

.footer-main__block--info-rules__nvercard span {
  font: 14px "OpenSans-SemiBold", sans-serif;
}

@media (max-width: 1023.98px) {
  .footer-main__block--info-rules__nvercard {
    width: 100%;
    margin-top: 15px;
  }
}

.footer-main__block--info-rules__link {
  font: 14px "NotoSansArmenian-Regular", sans-serif;
  color: #797F83;
  text-decoration: underline;
}

.footer-main__block--info-rules__link:hover {
  color: var(--color_global);
}

@media (max-width: 767.98px) {
  .footer-main__block--info-rules__link {
    margin-bottom: 15px;
  }
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.home-title {
  text-align: center;
}

.banner {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
  margin-bottom: 70px;
  position: relative;
}

@media (max-width: 1023.98px) {
  .banner {
    height: auto;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-container {
  height: 100%;
}

.banner-block {
  height: 100%;
  position: relative;
  z-index: 9;
}

.banner-block__text {
  max-width: 835px;
  width: 100%;
  padding-right: 16px;
  color: white;
}

.banner-block__text--info {
  font: 15px/24px "NotoSansArmenian-Regular", sans-serif;
  margin-bottom: 12px;
}

.banner-block__text--info span {
  font: 15px/20px "OpenSans-SemiBold", sans-serif;
}

.banner-block__text--title {
  font: 48px "NotoSansArmenian-SemiBold", sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 1439.98px) {
  .banner-block__text--title {
    font: 40px "NotoSansArmenian-SemiBold", sans-serif;
  }
}

@media (max-width: 767.98px) {
  .banner-block__text--title {
    font: 28px "NotoSansArmenian-SemiBold", sans-serif;
  }
}

.banner-block__text--title span {
  color: var(--color_red);
  font-style: italic;
}

@media (max-width: 767.98px) {
  .banner-block__text--title span {
    display: block;
  }
}

.banner-block__text--description {
  max-width: 580px;
  width: 100%;
  font: 18px/32px "NotoSansArmenian-Regular", sans-serif;
}

@media (max-width: 767.98px) {
  .banner-block__text--description {
    font: 16px/24px "NotoSansArmenian-Regular", sans-serif;
  }
}

.advantage {
  margin-bottom: 85px;
}

.advantage-block {
  margin: 0 -30px;
}

@media (max-width: 1279.98px) {
  .advantage-block {
    margin: 0;
  }
}

.advantage-block__item {
  width: 43%;
  padding: 30px;
}

@media (max-width: 1023.98px) {
  .advantage-block__item {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .advantage-block__item {
    width: 100%;
    padding: 15px 0;
  }
}

.advantage-block__item--img {
  width: 100px;
  height: 100px;
}

@media (max-width: 1023.98px) {
  .advantage-block__item--img {
    margin-bottom: 25px;
  }
}

@media (max-width: 767.98px) {
  .advantage-block__item--img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
}

.advantage-block__item--text {
  width: calc(100% - 100px);
  padding-left: 25px;
}

@media (max-width: 1023.98px) {
  .advantage-block__item--text {
    width: calc(100% - 50px);
    padding-left: 15px;
  }
}

.advantage-block__item--text h3 {
  font: 20px/28px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
  margin-bottom: 15px;
}

@media (max-width: 767.98px) {
  .advantage-block__item--text h3 {
    font-size: 18px;
  }
}

.advantage-block__item--text p {
  font: 16px/24px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
}

@media (max-width: 767.98px) {
  .advantage-block__item--text p {
    font-size: 14px;
  }
}

.order {
  margin-bottom: 85px;
}

.order-block__list {
  margin: 0 -10px;
}

.order-block__list--item {
  padding: 0 10px;
  width: 25%;
}

@media (max-width: 1279.98px) {
  .order-block__list--item {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .order-block__list--item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.order-block__list--item .cube {
  width: 200px;
  height: 200px;
  -webkit-transform: scale3d(1.1, 0.4, 0.1) rotateX(-55deg) rotateY(-45deg) rotateZ(0deg) translate3d(0, 0px, 0px) skew(0deg, 15deg);
          transform: scale3d(1.1, 0.4, 0.1) rotateX(-55deg) rotateY(-45deg) rotateZ(0deg) translate3d(0, 0px, 0px) skew(0deg, 15deg);
  position: relative;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (max-width: 767.98px) {
  .order-block__list--item .cube {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.order-block__list--item .cube-item {
  width: 100%;
  height: 100%;
  position: absolute;
}

.order-block__list--item .cube .front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  background-color: #bebebe;
}

.order-block__list--item .cube .top {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
          transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  background-color: #e1e1e1;
  font: 200px/200px "OpenSans-SemiBold", sans-serif;
  color: var(--color_global);
  top: 0;
}

.order-block__list--item .cube .right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  background-color: white;
  left: 0;
}

.order-block__list--item-step {
  padding: 0 15px;
  position: relative;
}

.order-block__list--item-step h3 {
  font: 22px/24px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_global);
  margin-bottom: 20px;
}

.order-block__list--item-step p {
  font: 16px/24px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
}

.faq {
  margin-bottom: 85px;
}

.faq-block__item {
  border-radius: 4px;
  background-color: rgba(241, 243, 243, 0.9);
  padding: 23px;
}

.faq-block__item + .faq-block__item {
  margin-top: 20px;
}

.faq-block__item--title-name {
  width: calc(100% - 18px);
  padding-right: 20px;
  font: 18px "NotoSansArmenian-Regular", sans-serif;
  letter-spacing: -0.21px;
  color: var(--color_text);
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .faq-block__item--title-name {
    font-size: 16px;
  }
}

.faq-block__item--title-icon {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
}

.faq-block__item--title-icon::before, .faq-block__item--title-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  background-color: #4f565a;
}

.faq-block__item--title-icon::before {
  width: 100%;
  height: 2px;
}

.faq-block__item--title-icon::after {
  width: 2px;
  height: 100%;
}

.faq-block__item--title:hover .faq-block__item--title-name {
  color: var(--color_global);
}

@media (max-width: 767.98px) {
  .faq-block__item--title:hover .faq-block__item--title-name {
    color: var(--color_text);
  }
}

.faq-block__item--title:hover .faq-block__item--title-icon::before, .faq-block__item--title:hover .faq-block__item--title-icon::after {
  background-color: var(--color_global);
}

.faq-block__item--title[data-expand="true"] .faq-block__item--title-name {
  color: var(--color_global);
}

.faq-block__item--title[data-expand="true"] .faq-block__item--title-icon::before {
  background-color: var(--color_global);
}

.faq-block__item--title[data-expand="true"] .faq-block__item--title-icon::after {
  content: none;
}

.faq-block__item--description {
  font: 16px/22px "NotoSansArmenian-Regular", sans-serif;
  color: #1a1a1a;
  margin-top: 22px;
}

@media (max-width: 767.98px) {
  .faq-block__item--description {
    font-size: 14px;
  }
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.catalog {
  margin-bottom: 85px;
}

@media (max-width: 1279.98px) {
  .catalog-box {
    display: block;
    margin: 0 -15px;
  }
}

.catalog-box__sidebar {
  max-width: 320px;
  width: 100%;
}

@media (max-width: 1279.98px) {
  .catalog-box__sidebar {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 1023.98px) {
  .catalog-box__sidebar {
    display: block;
    background-color: white;
  }
}

.catalog-box__sidebar--categories {
  background-color: white;
}

@media (max-width: 1279.98px) {
  .catalog-box__sidebar--categories {
    width: 50%;
    padding-right: 4px;
  }
}

@media (max-width: 1023.98px) {
  .catalog-box__sidebar--categories {
    width: 100%;
    padding-right: 0;
  }
}

.catalog-box__sidebar--categories-list__parent--tab {
  background-color: #f1f3f3;
}

.catalog-box__sidebar--categories-list__parent--tab-name .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  font-size: 35px;
  margin-right: 14px;
}

.catalog-box__sidebar--categories-list__parent--tab-name span {
  font: 13px/1.3 "NotoSansArmenian-ExtraBold", sans-serif;
}

.catalog-box__sidebar--categories-list__child--tab {
  background-color: rgba(241, 243, 243, 0.4);
}

.catalog-box__sidebar--categories-list__child--tab-link {
  font: 16px "NotoSansArmenian-Regular", sans-serif;
  color: var(--text_color);
}

.catalog-box__sidebar--categories-list__child--tab-link:hover {
  color: var(--color_global);
}

.catalog-box__sidebar--categories-list__item {
  background-color: white;
}

.catalog-box__sidebar--categories-list__item + .catalog-box__sidebar--categories-list__item {
  border-top: 2px solid rgba(241, 243, 243, 0.4);
}

.catalog-box__sidebar--categories-list__item--tab {
  min-height: 55px;
  padding: 5px 18px;
  cursor: pointer;
}

.catalog-box__sidebar--categories-list__item--tab .icon-arrow {
  font-size: 8px;
  padding: 0 5px;
}

.catalog-box__sidebar--categories-list__item--tab:hover p, .catalog-box__sidebar--categories-list__item--tab.active p, .catalog-box__sidebar--categories-list__item--tab[data-expand="true"] p {
  color: var(--color_global);
}

.catalog-box__sidebar--categories-list__item--tab:hover p span, .catalog-box__sidebar--categories-list__item--tab.active p span, .catalog-box__sidebar--categories-list__item--tab[data-expand="true"] p span {
  color: var(--color_global);
}

.catalog-box__sidebar--categories-list__item--tab:hover .icon-arrow, .catalog-box__sidebar--categories-list__item--tab.active .icon-arrow, .catalog-box__sidebar--categories-list__item--tab[data-expand="true"] .icon-arrow {
  color: var(--color_global);
}

.catalog-box__cards {
  width: calc(100% - 320px);
  margin-left: 13px;
}

@media (max-width: 1279.98px) {
  .catalog-box__cards {
    width: 100%;
    margin-left: 0;
  }
}

.catalog-box__cards--pagination {
  background-color: white;
  padding: 5px 20px;
  margin-top: 1.5px;
}

@media (max-width: 1023.98px) {
  .catalog-box__cards--pagination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.catalog-box__cards--pagination-count {
  font: 11.5px "NotoSansArmenian-SemiBold", sans-serif;
  letter-spacing: 0.58px;
  color: rgba(47, 64, 69, 0.5);
  padding: 0 5px;
  text-transform: uppercase;
}

@media (max-width: 1023.98px) {
  .catalog-box__cards--pagination-count {
    display: none;
  }
}

.catalog-box__cards--pagination-show {
  color: #8fa2a7;
  padding: 0 5px;
  cursor: pointer;
}

@media (max-width: 1023.98px) {
  .catalog-box__cards--pagination-show {
    width: 100%;
    background: #f1f3f3;
    padding: 20px 5px;
  }
}

.catalog-box__cards--pagination-show .icon-repeat {
  font-size: 17px;
  margin-right: 8px;
}

.catalog-box__cards--pagination-show p {
  font: 11.5px "NotoSansArmenian-SemiBold", sans-serif;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.catalog-box__cards--pagination-show:hover {
  color: var(--color_global);
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.favorites {
  margin-bottom: 80px;
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-Regular.ttf") format("truetype");
  font-family: "NotoSansArmenian-Regular";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-SemiBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-SemiBold";
}

@font-face {
  src: url("../assets/fonts/NotoSansArmenian/NotoSansArmenian-ExtraBold.ttf") format("truetype");
  font-family: "NotoSansArmenian-ExtraBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-family: "OpenSans-SemiBold";
}

@font-face {
  src: url("../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-family: "OpenSans-Regular";
}

.about {
  margin-bottom: 47px;
}

.about-box__sidebar {
  max-width: 382px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 6.1px 5.1px 16px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 6.1px 5.1px 16px 0 rgba(0, 0, 0, 0.15);
  margin-right: 30px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.about-box__navbar {
  background-color: white;
}

.about-box__navbar--desctop-title {
  font: 21px "NotoSansArmenian-SemiBold", sans-serif;
  letter-spacing: 0.75px;
  color: var(--color_text);
  text-transform: uppercase;
  padding-left: 43px;
  margin-bottom: 20px;
}

@media (max-width: 1023.98px) {
  .about-box__navbar--desctop {
    display: none;
  }
}

.about-box__navbar--mobile {
  margin-top: 38px;
  margin-bottom: 8px;
}

@media (max-width: 1023.98px) {
  .about-box__navbar--mobile {
    display: block !important;
    margin-top: 10px;
  }
}

.about-box__navbar--mobile-title {
  padding: 12px;
  cursor: pointer;
}

.about-box__navbar--mobile-title h3 {
  font: 17px "NotoSansArmenian-SemiBold", sans-serif;
  letter-spacing: 2.55px;
  color: var(--color_global);
  text-transform: uppercase;
}

.about-box__navbar--mobile-title .icon-arrow {
  font-size: 8px;
  color: var(--color_global);
}

@media (max-width: 1023.98px) {
  .about-box__navbar--list {
    border-top: 1px solid #e7e7e7;
  }
}

.about-box__navbar--list ul li a {
  min-height: 54px;
  font: 15.5px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
  padding: 5px 5px 5px 43px;
}

.about-box__navbar--list ul li a.active, .about-box__navbar--list ul li a:hover {
  background-color: #f1f3f3;
  color: var(--color_global);
}

@media (max-width: 1023.98px) {
  .about-box__navbar--list ul li a {
    padding: 15px;
  }
}

.about-box__content {
  width: calc(100% - 412px);
}

@media (max-width: 1023.98px) {
  .about-box__content--title {
    display: none;
  }
}

.about-box__content--info {
  padding: 34px;
  margin-top: 37px;
  background-color: white;
}

@media (max-width: 1023.98px) {
  .about-box__content--info {
    padding: 23px 15px;
  }
}

.about-box__content--info h3 {
  font: 20px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
  margin-bottom: 15px;
}

.about-box__content--info h4 {
  font: 16px/24px "NotoSansArmenian-SemiBold", sans-serif;
  color: var(--color_text);
  margin-bottom: 15px;
}

.about-box__content--info p {
  font: 15px/28px "NotoSansArmenian-Regular", sans-serif;
  color: var(--color_text);
  margin-bottom: 30px;
}

.about-box__content--info ul {
  counter-reset: section;
  margin-bottom: 30px;
}

.about-box__content--info ul li {
  margin-top: 10px;
  color: var(--color_text);
  position: relative;
  padding-left: 18px;
  font: 16px/24px "NotoSansArmenian-Regular", sans-serif;
}

.about-box__content--info ul li::before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  top: 0;
  left: 0;
  font: 16px/24px "OpenSans-Regular", sans-serif;
}

@media (max-width: 1023.98px) {
  .about-box__content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */