/*=====================-FOOTE-STYLE-START-========================*/

.footer {
    background-color: #ececec;
    padding: 25px 0;

    &-main {

        &__block {

            @include xs{
                display: block;
            }

            &--logo {
                width: 80px;
                height: 130px;

                @include xs{
                    margin: 0 auto 25px;
                }
            }

            &--info {
                width: calc(100% - 80px);
                padding-left: 45px;

                @include xs {
                    width: 100%;
                    padding-left: 0;
                    align-items: flex-start;
                }

                &-menu {

                    @include xs {
                        width: 40%;
                        display: block;
                    }

                    &__item {

                        &+& {
                            margin-left: 15px;

                            @include xs {
                                margin-top: 15px;
                                margin-left: 0;
                            }
                        }

                        &--link {
                            font: 15px $Regular;
                            color: var(--color_text);

                            &:hover {
                                color: var(--color_global);
                            }

                            @include xs{
                                font-size: 14px;
                            }
                        }
                    }
                }

                &-callcenter {
                    margin-left: auto;

                    @include sm {
                        width: 100%;
                        margin-top: 25px;
                        margin-left: 0;
                    }

                    @include xs {
                        width: 60%;
                        display: block;
                        margin-top: 0;
                        text-align: right;
                    }

                    &__link {
                        font: 15px $OpneSansSemibold;
                        color: var(--color_global);
                        margin-right: 20px;

                        &:hover {
                            color: var(--color_red);
                        }

                        @include xs {
                            margin-bottom: 10px;
                            margin-right: 0;
                        }
                    }

                    &__icon {
                        font-size: 20px;
                        color: var(--color_global);
                        margin-left: 15px;

                        &:hover {
                            color: var(--color_red);
                        }
                    }
                }

                &-rules {
                    width: 100%;
                    margin-top: 35px;

                    @include xs {
                        display: block;
                    }

                    &__nvercard {
                        font: 14px $Regular;
                        color: #797F83;

                        span {
                            font: 14px $OpneSansSemibold;
                        }

                        @include sm {
                            width: 100%;
                            margin-top: 15px;
                        }
                    }

                    &__link {
                        font: 14px $Regular;
                        color: #797F83;
                        text-decoration: underline;

                        &:hover {
                            color: var(--color_global);
                        }

                        @include xs{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}