@import '../../styles/base/shared';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    background-color: white;

    // nav
    &-nav {
        position: relative;
        padding: 8px 0;
        transition: all .3s ease-in-out;

        &.nav-scrollDown {
            margin-top: -76px;
            visibility: hidden;
            opacity: 0;

            @include xs {
                margin-top: -62px;
            }
        }

        &__box {

            &--logo {
                max-width: 292px;
                width: 100%;
                height: 60px;

                @include sm {
                    max-width: 220px;
                    height: 46px;
                }
            }

            &--menu {
                margin-left: 45px;

                @include xs {
                    display: none;
                }

                &-list {
                    &__item {

                        &+& {
                            margin-left: 16px;
                        }
                    }
                }

                &-link {
                    font: 15px/18px $Regular;
                    padding: 11px 0;
                    color: var(--color_text);


                    &:hover {
                        color: var(--color_global);
                    }
                }
            }

            &--info {
                margin-left: auto;

                &-delivery {
                    font: 15px/18px $Semibold;
                    color: var(--color_text);
                    margin-right: 5px;
                    margin-right: 32px;

                    @include lg {
                        display: none;
                    }
                }

                &-support {

                    @include sm {
                        display: none;
                    }

                    p {
                        font: 15px/18px $Regular;
                        color: #828282;
                        margin-right: 25px;

                        @include lg {
                            display: none;
                        }
                    }

                    a {

                        @include xs {
                            display: none;
                        }

                        .icon {
                            font-size: 16px;
                            color: var(--color_global);
                        }

                        span {
                            font: 15px/18px $Semibold;
                            color: var(--color_text);
                            margin-left: 10px;

                            &:hover {
                                color: var(--color_global);
                            }
                        }
                    }
                }

                @include xs {
                    &-btn {
                        display: block;
                        width: 44px;
                        height: 44px;
                        font-size: 18px;
                        color: white;
                        background-color: var(--color_red);
                        border-radius: 50%;
                    }

                    &-search {
                        width: 100%;
                        height: 62px;
                        background-color: #797979;
                        padding: 8px 5px 8px 14px;
                        position: fixed;
                        top: 0;
                        left: 0;
                        z-index: 99999;

                        &__form {
                            width: calc(100% - 30px);
                            position: relative;

                            .icon-search {
                                width: 50px;
                                height: 100%;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0;
                                z-index: 9;
                                font-size: 18px;
                                color: white;
                                background-color: var(--color_red);
                            }
                        }

                        &__btn {
                            width: 50px;
                            font-size: 18px;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    // content
    &-content {
        background-color: #ececec;
        padding: 12px 0;
        position: relative;

        &__box {

            &--catalog {
                min-width: 170px;
                max-width: 170px;
                @include wh(100%);
                margin-right: 20px;

                @include xs {
                    min-width: 140px;
                    max-width: 140px;
                    margin-right: 0;

                    &.active {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 50px;
                        min-width: 100%;
                        max-width: 100%;
                        background-color: var(--color_red);
                        z-index: 99999;

                        .header-content__box--catalog__btn .icon {
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 9;
                        }
                    }
                }

                .icon-arrow-thin-left {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    z-index: 999999;
                }

                &__btn {
                    @include wh(100%, 40px);
                    padding: 0 20px;
                    color: white;
                    background-color: var(--color_red);
                    position: relative;

                    &:hover {
                        background-color: var(--color_red_hover);
                    }

                    @include xs {
                        padding: 0 15px;

                        &:hover {
                            background-color: var(--color_red);
                        }
                    }

                    span {
                        font: 13px $Extrabold;
                        letter-spacing: 0.08em;
                        text-transform: uppercase;
                        margin: auto;

                        @include xs {
                            margin: 0;
                        }
                    }

                    .icon {
                        font-size: 14px;
                        margin-left: auto;
                    }
                }
            }

            &--search {
                max-width: 588px;
                @include wh(100%, 40px);
                background-color: white;
                padding: 8px 5px 8px 14px;
                position: relative;

                @include xs {
                    display: none;
                }

                &-input {
                    @include wh(100%);
                    border: 0;
                    font: 15px $Regular;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 27px;
                    padding-right: 37px;
                    color: var(--color_text);
                    letter-spacing: 0.04em;

                    @include xs {
                        padding-right: 60px;
                        padding-left: 15px;
                    }

                    &::placeholder,
                    &::-moz-placeholder {
                        font: 15px $Regular;
                        color: var(--color_text);
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 9;
                }

                .icon-search {
                    font-size: 16px;
                    color: var(--color_red);
                    left: 15px;
                }

                .icon-cancel {
                    font-size: 12px;
                    color: var(--color_red);
                    right: 13px;
                    cursor: pointer;
                }
            }

            &--icons {
                margin-left: auto;

                &-link {
                    margin-left: 35px;
                    font-size: 24px;
                    color: var(--color_red);
                    position: relative;

                    @include xs {
                        margin-left: 25px;
                    }

                    &:hover {
                        color: var(--color_red_hover);
                    }

                    &__counter {
                        position: absolute;
                        top: -12px;
                        right: -12px;
                        width: 22px;
                        height: 22px;
                        background-color: var(--color_red);
                        color: white;
                        font: 12px $Regular;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}


.headerCatalog {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;

    @include xs {
        position: fixed;
        height: 100%;
        top: 50px;
    }


    @media (min-width: 768px) and (max-height: 470px) {
        height: calc(100vh - 105px);
    }
}

.header-catalog {
    background-color: white;
    z-index: 9999999;
    overflow: hidden;

    &__container {
        position: relative;

    }

    @media (min-width: 768px) and (max-height: 470px) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &__container {
            height: 100%;
        }
    }

    &__list {
        width: 340px;
        padding: 25px 15px 0;
        background-color: #F5F5F5;

        @include xs {
            width: auto;
            height: calc(100vh - 40px);
            background-color: white;
            padding: 0 15px;
            margin: 0 -15px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        @media (min-width: 768px) and (max-height: 470px) {
            height: auto;
        }

        &--item {
            margin: 0 -15px;

            @include xs {
                border-bottom: 1px solid #E0E0E0;
            }

            &-name {
                min-height: 45px;
                padding: 5px 22px 5px 15px;
                position: relative;

                @include xs {
                    padding: 5px 15px;
                }

                p {
                    width: calc(100% - 6px);
                    padding-right: 10px;

                    .icon {
                        font-size: 24px;
                        flex: 0 0 24px;
                        color: #3C444B;
                        margin-right: 11px;

                    }

                    span {
                        font: 16px $Regular;
                        color: var(--color_text);
                    }
                }

                .icon-cheveron-right {
                    font-size: 15px;
                    color: #AFB6BD;

                }


                &.active,
                &:hover {
                    background-color: white;

                    p {
                        .icon {
                            color: var(--color_global_hover);
                        }

                        span {
                            color: var(--color_global);
                        }
                    }

                    .icon-cheveron-right {
                        color: var(--color_global_hover);
                    }
                }
            }

            &-all {
                font: 16px $Regular;
                color: var(--color_text);
                padding: 11px 15px;
                text-align: center;
                display: block;
    
                &:hover {
                    background-color: var(--color_red);
                    color: white;
                }
            }

            &-sub {
                width: calc(100% - 380px);
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: white;
                padding: 39px 25px 22px 32px;
                opacity: 0;
                visibility: hidden;

                @include lg {
                    width: calc(100% - 355px);
                }

                @include xs {
                    width: 100%;
                    padding: 0;
                    z-index: 999999;
                    transform: translateX(100%);
                    transition: all .3s ease-in-out;
                    opacity: 1;
                    visibility: visible;
                }

                &.open {
                    opacity: 1;
                    visibility: visible;

                    @include xs {
                        transform: translateX(0);
                    }
                }

                &__categories {
                    @include wh(100%);
                    overflow-x: hidden;
                    overflow-y: auto;

                    &--box {
                        width: 55%;

                        @include xs {
                            width: 100%;
                        }

                        &-title {
                            font: 18px/22px $Semibold;
                            color: var(--color_global);
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                            padding-left: 10px;

                            @include xs {
                                display: none;
                            }
                        }

                        &-links {

                            @include xs {
                                height: 100%;
                                display: block;
                                overflow-x: hidden;
                                overflow-y: auto;
                            }

                            li {
                                width: 50%;

                                @include sm {
                                    width: 100%;
                                }

                                @include xs {
                                    border-bottom: 1px solid #E0E0E0;
                                }

                                a {
                                    font: 15px/18px $Regular;
                                    color: var(--color_text);
                                    padding: 10px;


                                    &:hover {
                                        color: var(--color_global_hover);
                                    }

                                    @include sm {
                                        display: block;
                                    }

                                    @include xs {
                                        padding: 15px;
                                    }
                                }
                            }
                        }
                    }

                    &--img {
                        width: 45%;

                        @include xs {
                            display: none;
                        }

                        a {
                            @include wh(50%, 150px);
                            padding: 5px;

                            @include lg {
                                width: 100%;

                                &:not(:nth-child(1)):not(:nth-child(2)) {
                                    display: none;
                                }
                            }

                            img {
                                transform: scale(.95);
                                transition: all .3s;

                            }

                            &:hover img {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }

       
    }
}