.header {
  &-content {
    padding: 10px 0;
    &__logo {
      width: 60px;
      height: 80px;
    }
    &__contact {
      max-width: 650px;
      width: 100%;
      &--address,
      &--phone {
        text-align: end;
        p {
          color: var(--color-red);
          font-size: 14px;
        }
        a {
          font-size: 22px;
          color: var(--color-global);
          transition: var(--transition-all);
          &:hover {
            color: #5d745d;
          }
        }
      }
    }
    &__btn {
      max-width: 250px;
      width: 100%;

      &--login {
        font-weight: bold;
        border: 2px solid var(--color-red);
        border-radius: var(--border-radius);
        padding: 15px 20px;
        color: var(--color-red);
        transition: var(--transition-all);
        &:hover {
          background-color: var(--color-red);
          color: white;
        }
      }
      &--request {
        font-weight: bold;
        background-color: var(--color-global);
        color: white;
        padding: 15px 20px;
        transition: var(--transition-all);
        border-radius: var(--border-radius);
      }
    }
  }
  &-nav {
    padding: 0 40px;
    background-color: var(--color-global);
    position: relative;
    &__catalog {
      width: 18%;
      &--btn {
        background-color: var(--color-red);
        padding: 15px 20px;
        font-size: 18px;
        color: white;
        font-weight: bold;
        border-radius: var(--border-radius);
      }
      &--dropdown {
        position: absolute;
        background-color: #96e2a7;
        width: 100%;
        min-height: 300px;
        transform: translate(-50%);
        top: 100%;
        left: 50%;
        padding: 10px 0;
        &-list {
          position: relative;
          &__item {
            padding-bottom: 5px;
            &--link {
              color: white;
              font-weight: bold;
              font-size: 18px;
              width: 18%;
              padding-left: 24px;
              transition: var(--transition-all);
              &:hover {
                color: var(--color-red);
              }
            }
            &--sub {
              width: 82%;
              &-link{
                max-width: 370px;
                width: 100%;
                a{
                  font-size: 18px;
                  color: white;
                  width: 50%;
                  transition: var(--transition-all);
                  &:hover{
                    color: var(--color-global);
                  }
                }
                ul{
                  width: 230px;
                  position: absolute;
                  right: 0;
                  top: 0;
                  li{
                    padding: 10px 0;
                    a{
                      width: 100px;
                      height: 100px;
                      margin-right: 0;
                      img{
                        object-fit: cover;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__menu {
      width: 82%;
      padding: 15px 0;
      li {
        a {
          font-size: 18px;
          color: white;
          font-weight: bold;
          transition: var(--transition-all);
          &:hover {
            color: var(--color-red);
          }
        }
      }
    }
  }
}
