@import '../../styles/base/shared';

@media (min-width: 768px) {
    app-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
    }
}


.header {

    // nav
    &-nav {
        position: relative;
        padding: 8px 0;

        &.onscroll {
            transform: translateY(-100%);
        }

        &__box {

            &--logo {
                max-width: 292px;
                width: 100%;
                height: 60px;

                @include sm {
                    max-width: 220px;
                    height: 46px;
                }
            }

            &--menu {
                margin-left: 45px;

                @include xs {
                    display: none;
                }

                &-list {
                    &__item {

                        &+& {
                            margin-left: 16px;
                        }
                    }
                }

                &-link {
                    font: 15px/18px $Regular;
                    padding: 11px 0;
                    color: var(--color_text);


                    &:hover {
                        color: var(--color_global);
                    }
                }
            }

            &--info {
                margin-left: auto;

                &-delivery {
                    font: 15px/18px $Semibold;
                    color: var(--color_text);
                    margin-right: 5px;
                    margin-right: 32px;

                    @include lg {
                        display: none;
                    }
                }

                &-support {

                    p {
                        font: 15px/18px $Regular;
                        color: #828282;
                        margin-right: 11px;

                        @include sm {
                            display: none;
                        }
                    }

                    a {
                        span {
                            font: 15px/18px $Semibold;
                            color: var(--color_text);

                            &:hover {
                                color: var(--color_global);
                            }

                            @include xs {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // content
    &-content {
        background-color: #ececec;
        padding: 12px 0;
        z-index: 9;
        position: relative;

        &__box {

            &--catalog {
                min-width: 170px;
                max-width: 170px;
                @include wh(100%);

                @include xs {
                    &.active {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        min-width: 100%;
                        max-width: 100%;
                        background-color: var(--color_red);
                    }
                }
                .icon-arrow-left{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    @include wh(20px);
                    z-index: 999999;
                }
                &__btn {
                    @include wh(100%, 40px);
                    padding: 0 20px;
                    color: white;
                    background-color: var(--color_red);


                    &:hover {
                        background-color: var(--color_red_hover);
                    }

                    span {
                        font: 13px $Extrabold;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}


.headerCatalog {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;

    @include xs {
        position: fixed;
        height: 100%;
        top: 40px;
    }


    @media (min-width: 768px) and (max-height: 470px) {
        height: calc(100vh - 105px);
    }
}

.header-catalog {
    background-color: white;
    z-index: 9999999;
    overflow: hidden;

    &__container {
        position: relative;

    }

    @media (min-width: 768px) and (max-height: 470px) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &__container {
            height: 100%;
        }
    }

    &__list {
        width: 340px;
        padding: 25px 15px;
        background-color: #F5F5F5;

        @include xs {
            width: auto;
            height: calc(100vh - 40px);
            background-color: white;
            padding: 0 15px;
            margin: 0 -15px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        @media (min-width: 768px) and (max-height: 470px) {
            height: auto;
        }

        &--item {
            margin: 0 -15px;

            @include xs {
                border-bottom: 1px solid #E0E0E0;
            }

            &-name {
                min-height: 45px;
                padding: 5px 22px 5px 15px;

                position: relative;

                p {
                    width: calc(100% - 6px);
                    padding-right: 10px;

                    .icon {
                        font-size: 17px;
                        flex: 0 0 22px;
                        color: #3C444B;
                        margin-right: 11px;

                    }

                    span {
                        font: 16px $Regular;
                        color: var(--catalog_color_text);
                    }
                }

                .icon {
                    font-size: 10px;
                    color: #AFB6BD;

                }


                &.active,
                &:hover {
                    background-color: white;

                    p {
                        .icon {
                            color: var(--color_global_hover);
                        }
                    }

                    .icon {
                        color: var(--color_global_hover);
                    }
                }
            }

            &-sub {
                width: calc(100% - 380px);
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: white;
                padding: 39px 25px 22px 32px;
                opacity: 0;
                visibility: hidden;

                @include lg {
                    width: calc(100% - 355px);
                }

                @include xs {
                    width: 100%;
                }

                &.open {
                    opacity: 1;
                    visibility: visible;

                    @include xs {
                        left: 0;
                    }

                }

                &__categories {
                    @include wh(100%);

                    &::-webkit-scrollbar-track {
                        background-color: #f0f1f2;
                    }

                    &--box {
                        width: 55%;

                        &-title {
                            font: 18px/22px $Semibold;
                            color: var(--catalog_color_text);
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                            padding-left: 10px;

                            @include xs{
                                display: none;
                            }
                        }

                        &-links {

                            li {
                                width: 50%;
                                padding: 10px;

                                @include sm {
                                    width: 100%;
                                    padding: 0;
                                }

                                @include xs {
                                    border-bottom: 1px solid #E0E0E0;
                                }

                                a {
                                    font: 15px/18px $Regular;
                                    color: var(--catalog_color_text);


                                    &:hover {
                                        color: var(--color_global_hover);
                                    }

                                    @include sm {
                                        display: block;
                                        padding: 10px;
                                    }
                                }
                            }
                        }
                    }

                    &--img {
                        width: 45%;

                        @include xs {
                            display: none;
                        }

                        a {
                            @include wh(50%, 153px);
                            padding: 5px;

                            @include lg {
                                @include wh(100%, 75px);
                            }

                            img {
                                transform: scale(.95);
                                transition: all .3s;

                            }

                            &:hover img {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}