.d_f {
    display: flex;
}

.d_i_f {
    display: inline-flex;
}

.f_w {
    flex-wrap: wrap;
}

.f_n_w {
    flex-wrap: nowrap;
}

.f_r {
    flex-direction: row;
}

.f_d_c {
    flex-direction: column;
}

.j_c_st {
    justify-content: flex-start;
}

.j_c_e {
    justify-content: flex-end;
}

.j_c_c {
    justify-content: center;
}

.j_c_b {
    justify-content: space-between;
}

.a_i_s {
    align-items: flex-start;
}

.a_i_e {
    align-items: flex-end;
}

.a_i_c {
    align-items: center;
}