@import './shared',
'./normalize',
'./flex-box',
'./root',
'./icons',

// modules
'../modules/slick-slider',
'../modules/bread-crumb',
'../modules/cards',
'../modules/increment',
'../modules/buttons';



// body

body {
    padding-top: 140px;

    @include xs {
        padding-top: 126px;
    }
}


// container  -- START
.container {
    max-width: 1580px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    @include lg {
        padding: 0 16px;
    }
}

// container  -- END



// title  -- START
.title {
    margin-bottom: 28px;

    &-all {
        color: var(--color_text);
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }

    &-global {
        font: 24px/36px $Extrabold;

        @include sm {
            line-height: 36px;
        }
    }

    &-second {
        font: 20px/24px $Extrabold;

        @include sm {
            font: 24px/36px $Extrabold;
        }
    }
}

// title  -- END


// display-none-block -- START
.d_none {
    display: none;
}

.d_block {
    display: block;
}

// display-none-block -- END


// overflow-hidden -- START
.overflow-hidden {
    overflow: hidden;
}

// overflow-hidden -- END


// componetns
@import '../components/header',
'../components/catalog',
'../components/footer';