@import './shared',
'./normalize',
'./flex-box',
'./root',

// modules
'../modules/slick-slider';



// container  -- START
.container {
    max-width: 1580px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    @include lg {
        padding: 0 16px;
    }
}
// container  -- END






// display-none-block -- START
.d_none {
    display: none;
}

.d_block {
    display: block;
}

// display-none-block -- END


// overflow-hidden -- START
.overflow-hidden {
    overflow: hidden;
}

// // overflow-hidden -- END





