@import './shared',
'./icons',
'./flex-box',
'./normalize',
'./root',

// modules
'../modules/slick-slider',
'../modules/bread-crumb',
'../modules/cards',
'../modules/increment',
'../modules/buttons',
'../modules/animation',
'../modules/empty',
'../modules/filter',
'../modules/checkbox-radiobtn',
'../modules/input-textarea';


// body

body {
    padding-top: 140px;
    display: flex;
    flex-direction: column;

    @include xs {
        padding-top: 126px;
    }
}


// container  -- START
.container {
    max-width: 1580px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    @include lg {
        padding: 0 16px;
    }
}

// container  -- END



// title  -- START
.title {
    margin-bottom: 40px;

    &-all {
        color: var(--color_text);
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }

    &-global {
        font: 28px/40px $Extrabold;

        @include sm {
            font: 24px/28px $Extrabold;
        }
    }

    &-second {
        font: 24px/28px $Extrabold;

        @include sm {
            font: 20px/24px $Extrabold;
        }
    }
}

// title  -- END


// display-none-block -- START
.d_none {
    display: none;
}

.d_block {
    display: block;
}

// display-none-block -- END


// overflow-hidden -- START
.overflow-hidden {
    overflow: hidden;
}

// overflow-hidden -- END



// componetns
@import '../components/header',
'../components/footer',
'../components/home',
'../components/catalog',
'../components/favorites',
'../components/about',
'../components/account';