@import '../fonts/icons/icons';


.icon-eye-hidden:before {
  content: "\e907";
}

.icon-eye:before {
  content: "\e912";
}

.icon-heart:before {
  content: "\e908";
}

.icon-star:before {
  content: "\e913";
}

.icon-trash:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e914";
}

.icon-location:before {
  content: "\e90a";
}

.icon-bubble:before {
  content: "\e90b";
}

.icon-clip:before {
  content: "\e90c";
}

.icon-envelope:before {
  content: "\e90d";
}

.icon-clock:before {
  content: "\e915";
}

.icon-play:before {
  content: "\e90e";
}

.icon-pause:before {
  content: "\e90f";
}

.icon-refresh:before {
  content: "\e916";
}

.icon-phone:before {
  content: "\e917";
}

.icon-cancel:before {
  content: "\e910";
}

.icon-azurepipelines:before {
  content: "\e918";
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-messenger:before {
  content: "\e902";
}

.icon-skype:before {
  content: "\e903";
}

.icon-viber:before {
  content: "\e904";
}

.icon-vk:before {
  content: "\e905";
}

.icon-whatsapp:before {
  content: "\e906";
}

.icon-youtube:before {
  content: "\e911";
}