@import '../fonts/icons/icons';

.icon-exclamatory::before {
    content: '\e965';
}

.icon-time::before {
    content: "\e95f";
}

.icon-repeat::before {
    content: "\e95e";
}

.icon-arrow__top::before {
    content: "\e924";
}

.icon-arrow__bottom::before {
    content: "\e901";
}

.icon-arrow__right::before {
    content: "\e902";
}

.icon-arrow__left::before {
    content: "\e903";
}

.icon-unlink::before {
    content: "\e962";
}

.icon-subarrow::before {
    content: "\e963";
}

.icon-order-number::before {
    content: "\e961";
}

.icon-calendar::before {
    content: "\e960";
}

.icon-delivered::before {
    content: "\e967";
}

.icon-waiting::before {
    content: "\e966";
}

.icon-search::before {
    content: "\e95a";
}

.icon-compare::before {
    content: "\e927";
}

.icon-favorite::before {
    content: "\e968";
}

.icon-template::before {
    content: "\e928";
}

.icon-createPlus::before {
    content: "\e969";
}

.icon-close::before {
    content: "\e907";
}

.icon-rub::before {
    content: "\e931";
}

.icon-glass::before {
    content: "\e937";
}

.icon-weight::before {
    content: "\e936";
}

.icon-oversize::before {
    content: "\e945";
}

.icon-saw::before {
    content: "\e944";
}

.icon-tinting::before {
    content: "\e943";
}

.icon-saveCart::before {
    content: "\e95d";
}

.icon-service::before {
    content: "\e91f";
}

.icon-goods::before {
    content: "\e910";
}

.icon-pay::before {
    content: "\e91c";
}

.icon-delivery::before {
    content: "\e909";
}

.icon-pickup::before {
    content: "\e95b";
}

.icon-checkmark::before {
    content: "\e92c";
}

.icon-mark::before {
    content: "\e95c";
}

.icon-message::before {
    content: "\e96a";
}

.icon-pen::before {
    content: "\e958";
}

.icon-trash::before {
    content: "\e93e";
}

.icon-catalog0::before {
    content: "\e917";
}

.icon-catalog1::before {
    content: "\e915";
}

.icon-catalog2::before {
    content: "\e914";
}

.icon-catalog3::before {
    content: "\e919";
}

.icon-catalog4::before {
    content: "\e918";
}

.icon-catalog5::before {
    content: "\e916";
}

.icon-file_added::before {
    content: "\e90e";
}

.icon-file::before {
    content: "\e906";
}

.icon-quest::before {
    content: "\e96a";
}

.icon-setting::before {
    content: "\e921";
}

.icon-address::before {
    content: "\e950";
}

.icon-home::before {
    content: "\e92f";
}

.icon-product::before {
    content: "\e955";
}

.icon-category::before {
    content: "\e956";
}

.icon-row::before {
    content: "\e92a";
}

.icon-grid::before {
    content: "\e92b";
}

.icon-download::before {
    content: "\e96e";
}

.icon-print::before {
    content: "\e96c";
}

.icon-file_download::before {
    content: "\e90a";
}

.icon-remove_object::before {
    content: "\e96d";
}

.icon-create-archive::before {
    content: "\e96f";
}

.icon-plus::before {
    content: "\e92e";
}

.icon-minus::before {
    content: "\e92d";
}