:root {

    --color_global: #10c459;
    --color_global_hover: #30e076;
    --color_red: #cd123f;
    --color_red_hover: #a6093d;
    --color_text: #232c31;

    --border-radius: 6px;
    --transition-all: .3s;
}