:root {

    --color-global: #10c459;
    --color-red: #d02128;
    --color-dark: #4F4F4F;
    --color-gradient: linear-gradient(180deg, #10c459 0%, #0C8F71 100%);

    --border-radius: 6px;
    --transition-all: .3s;
}