@keyframes lineTo {
    from {
        top: -250px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.lineTo {
    animation-name: lineTo;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}