// button hover effect  -- START
.btn-effect {
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;

    &:disabled::before {
        content: none;
    }
}

.btn-effect:before {
    content: "";
    position: absolute;
    width: 3em;
    height: 100%;
    top: 0;
    left: -35%;
    transform: skewX(-45deg) translateX(0);
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
}

.btn-effect:hover:before {
    left: 130%;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}


// button hover effect  -- END


// global button  -- START
.btn-global {
    &__red * {
        background-color: var(--global_color);
    }

    &__gray * {
        background-color: #AFB6BD;
    }

    &__green * {
        background-color: $green_color;
    }

    * {
        @include wh(100%);
        border-radius: 4px;
        border: 0;
        font: 12px $Extrabold;
        color: white;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;


        @include sm {
            font: 12px $Semibold;
            text-transform: unset;
        }
    }
}


button[disabled] {
    background-color: #bfbfbf !important;
    pointer-events: none !important;
    cursor: default !important;
}
// global button  -- END    




