.cards {
    margin: -10px; 

    &-catalog{
        margin: -1.5px;
    }

    &-product {
        width: 20%;
        padding: 10px;

        &-catalog{
            width: 25%;
            padding: 1.5px;

            &:hover{
                box-shadow: 5px 5px 20px #cbcbcb;
                z-index: 999;
            }
        }

        &__item {
            height: 100%;
            background-color: white;
            padding: 40px 25px 40px;
            position: relative;

            &--img {
                height: 153px;
                margin: 0 auto 30px;
            }

            &--name {
                margin-bottom: 25px;

                @include sm {
                    min-height: auto;
                }

                a {
                    font: 16px/1.25 $Semibold;
                    color: #3b474e;

                    &:hover {
                        color: var(--color_global);
                    }
                }
            }

            &--price {
                margin-bottom: 25px;

                p {
                    font: 21px $Regular;
                    color: var(--color_text);
                    letter-spacing: -0.36px;
                }
            }
        }

        &__icon{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 999;
            font-size: 20px;
            color: #c5c5c5;

            &:hover{
                color: var(--color_red);
            }
            
        }
    }
}