.headerCatalog {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999999;

    @include xs {
        position: fixed;
        height: 100%;
        top: 53px;
    }


    @media (min-width: 768px) and (max-height: 470px) {
        height: calc(100vh - 105px);
    }
}

.header-catalog {
    background-color: #F5F5F5;
    position: relative;
    z-index: 9999999;
    overflow: hidden;

    @media (min-width: 768px) and (max-height: 470px) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .container{
            height: 100%;
        }
    }

    &__list {
        @include wh(340px, 368px);
        padding: 45px 22px 45px 15px;
        position: relative;
        background-color: #F5F5F5;

        @include xl {
            margin-left: -15px;
        }

        @include xs {
            width: auto;
            height: calc(100vh - 53px);
            margin-right: -15px;
            background-color: white;
            padding: 0 15px 0 20px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        @media (min-width: 768px) and (max-height: 470px) {
            height: auto;
        }

        &--item {
            margin-right: -22px;
            margin-left: -15px;

            @include xs {
                margin-right: -15px;
                margin-left: -20px;
                border-bottom: 1px solid #E0E0E0;
            }

            &-name {
                min-height: 45px;
                padding: 5px 22px 5px 15px;
                
                position: relative;

                p {
                    width: calc(100% - 6px);
                    padding-right: 10px;

                    .icon {
                        font-size: 17px;
                        flex: 0 0 22px;
                        color: #3C444B;
                        margin-right: 11px;
                        
                    }

                    span {
                        font: 16px $Regular;
                        color: var(--catalog_color_text);
                    }
                }

                .icon {
                    font-size: 10px;
                    color: #AFB6BD;
                    
                }


                &.active,
                &:hover {
                    background-color: white;

                    p {
                        .icon {
                            color: var(--color_global_hover);
                        }
                    }

                    .icon {
                        color: var(--color_global_hover);
                    }
                }
            }

            &-sub {
                width: calc(1500px - 340px);
                height: 100%;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: white;
                padding: 39px 0 22px 32px;
                opacity: 0;
                visibility: hidden;
                

                @include xl {
                    width: calc(1200px - 340px);
                }

                @include lg {
                    width: calc(964px - 340px);

                }

                @include sm {
                    width: calc(768px - 340px);
                }

                @include xs {
                    width: 100%;
                    padding: 0;
                    background-color: white;
                    z-index: 99;
                }

                @media (min-width: 768px) and (max-height: 470px) {
                    padding: 39px 15px 22px 32px;
                }

                &.open {
                    opacity: 1;
                    visibility: visible;

                    @include xs {
                        left: 0;
                    }

                }

                &__categories {
                    @include wh(100%);

                    &::-webkit-scrollbar-track {
                        background-color: #f0f1f2;
                    }

                    &--box {
                        width: calc(100% - 500px);
                        margin-right: 22px;

                        @include xl {
                            width: calc(100% - 116px);
                            margin-right: 0;
                        }

                        @include lg {
                            width: 100%;
                        }



                        &-title {
                            font: 18px/22px $Semibold;
                            color: var(--catalog_color_text);
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            margin-bottom: 5px;
                            padding-left: 10px;

                            @include xs {
                                display: none;
                            }
                        }

                        &-links {

                            li {
                                width: 50%;
                                padding: 10px;

                                @include sm {
                                    width: 100%;
                                    padding: 0;
                                }

                                @include xs {
                                    border-bottom: 1px solid #E0E0E0;
                                }

                                a {
                                    font: 15px/18px $Regular;
                                    color: var(--catalog_color_text);
                                    

                                    &:hover {
                                        color: var(--color_global_hover);
                                    }

                                    @include sm {
                                        display: block;
                                        padding: 10px;
                                    }
                                }
                            }
                        }
                    }

                    &--img {
                        max-width: 500px;
                        width: 100%;
                        padding-top: 20px;

                        @include xl {
                            max-width: 116px;
                        }

                        @include sm {
                            display: none;
                        }

                        a {
                            @include wh(175px, 60px);
                            margin: 15px;

                            @include xl {
                                @include wh(116px, 50px);
                                margin: 10px;
                            }

                            img {
                                filter: grayscale(1);
                                
                            }

                            &:hover img {
                                filter: grayscale(0);

                            }
                        }
                    }
                }
            }
        }
    }

    &__bg {
        @include wh(100%);
        position: fixed;
        top: 105px;
        left: 0;
        background-color: rgba(#000000, .3);
        z-index: 999999;
    }
}