.ordered-page {
    margin: 20px 0;
}

.order-info__all {
    padding: 16px 15px 31px 15px;

    &--pagination {
        background-color: white;
        border-top: 2px solid #E7E7E7;
        border-radius: 0px 0px 4px 4px;
        padding: 25px 15px;
    }

}

.ordered-page .order-info__all {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.order-info__item {
    width: 33.333%;
}

.order-info__delivery {
    text-align: center;
    font-size: 13px;
}

.order-info__delivery--text {
    font: 13px/13px $Regular;
    color: $second_color;
}

.icon-time__delivery {
    color: #b6bdbf;
}

.icon-time__delivery,
.icon-repeat__order {
    margin-right: 7px;
    font-size: 17px;
}

.order-info__repeat a {
    color: #b6bdbf;
    

    span {
        font: 13px/13px $Regular;
        color: $second_color;
        border-bottom: 1px solid #b6bdbf;
        
    }

    &:hover {
        color: var(--global_color);
    }

    &:hover span {
        color: var(--global_color);
        border-bottom: 1px solid var(--global_color);
    }
}


.order-info__all--box {
    margin-bottom: 13px;
}

.order-info__all--address {
    width: 25%;
    padding-right: 5px;
}

.order-info__all--address-name {
    font: 19.5px/21.5px $Semibold;
    color: #4f565a;
    margin-bottom: 14px;
}

.order-info__all--address-full {
    font: 13px/15px $Regular;
    color: $second_color;
}

.order-info__all--info {
    width: 75%;
    margin-left: auto;

    .order-info__all--info-item {
        width: 25%;
        padding: 0 8px;

        .order-info__all--info-item__name {
            font: 13px $Regular;
            color: $second_color;
            margin-bottom: 12px;
        }

        .order-info__all--info-item__position {
            font: 18px/18px $Regular;
            color: #4f565a;
        }

        .order-info__all--info-item__total {
            font: 18px/18px $Semibold;
            color: #4f565a;
        }
    }
}

.order-info__sub {
    margin: 0 -15px 33px -15px;
    padding: 0 15px 0 15px;
    background-color: #f4f6f6;
}

.order-info__sub--click-text {
    height: 40px;
    cursor: pointer;

    .icon-unlink__suborder {
        font-size: 14px;
        font-weight: bold;
        color: var(--global_color);
    }

    span {
        font: 15.5px/15.5px $Regular;
        color: var(--global_color);
        margin: 0 5px;
        border-bottom: .5px solid var(--global_color);
        display: block;
    }

    .icon-arrow__suborder {
        font-size: 6px;
        color: var(--global_color);
    }
}

.order-info__child {
    margin-top: 37px;
    margin-bottom: 16px;
}

.icon-subarrow__name {
    margin-right: 21px;
    color: var(--global_color);
    font-size: 9px;
}

.order-info__child--title {
    span {
        font: 15.5px/15.5px $Semibold;
        color: rgba(59, 71, 78, 0.4);
        display: block;
        margin-right: 6px;
    }

    a {
        font: 19.5px/19.5px $Regular;
        color: #4f565a;
        border-bottom: .5px solid #4f565a;
        
        display: block;

        &:hover {
            color: var(--global_color);
            border-bottom: .5px solid var(--global_color);
        }
    }
}

.order-info__child--title-name {
    width: 100%;
    margin-top: 8px;
    font: 13.5px/1.3 "ProximaNova-Regular", sans-serif;
    color: #4f565a;
}

.order-info__child--block {
    margin: 0 -15px;
}

.order-info__childrens {
    padding: 0 15px;

    +.order-info__childrens {
        border-top: 2px solid white;
    }
}





// order -- tab and filter style

.order-top__block {
    margin: 0 -15px;
}

.order-top__block--link {
    padding: 0 15px;

    ul {
        height: 100%;
        margin: 0 -15px;

        li {
            height: 100%;

            @include xs{
                width: 50%;
            }

            a {
                @include wh(100%);
                padding: 7px 25px 7px 25px;
                border-bottom: 2px solid transparent;
                font: 15.5px $Semibold;
                color: $second_color;
                

                @include sm{
                    padding: 7px 10px 7px 10px;
                }

                &.active {
                    color: var(--global_color);
                    border-bottom: 2px solid var(--global_color);
                }

                &:hover {
                    color: var(--global_color);
                }
            }
        }
    }
}

.sort-block {
    padding: 16px 18px;

    .sort-select__filter--name {
        font: 14.5px $Regular;
        color: #3b474e;
        letter-spacing: -0.15px;
        margin-right: 15px;
    }
}

.sort-select__order {
    width: 300px;

}

.sort-select__filter {

    .ng-select-container {
        height: 40px;
        border-radius: 5px;
        border: solid 1px #c7d0d3;
        justify-content: space-between;
        background-color: white;
    }

    .ng-arrow-wrapper {
        border-left: 1px solid #c7d0d3;

        .ng-arrow {
            @include wh(9px !important, 5px !important);

            &::before {
                color: #c7d0d3;
                font-size: 5px;
            }
        }

        &:hover .ng-arrow::before {
            color: var(--global_color);
        }
    }

    .ng-value-label,
    .ng-select-label {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        font: 15px/15px $Regular;
        color: $second_color;
    }
}


// filter
.order-filter {
    margin: 0 -15px;
    // position: sticky;
    // top: 115px;
    z-index: 999;
    background-color: white;

    &__list {
        padding: 0 15px;
        border-top: 2px solid #f8f8f8;
        border-bottom: 2px solid #f8f8f8;

        &--info {
            width: 75%;
        }

        &--item {
            @include wh(25%, 51px);
            border-left: 2px solid #f8f8f8;
            position: relative;

            &>*:first-child {
                @include wh(100%);
                display: block;
                padding: 17px 0;

                &>*:first-child {
                    height: 100%;
                }

                &::placeholder {
                    font: 13px $Semibold;
                    color: #4f565a;
                }
            }

            &.select-filter__input {
                padding: 0 10px;
                display: flex;
                align-items: center;
            }

            &.select-filter__number {
                flex-direction: row-reverse;
                border-left: 0px;

                .icon-order-number {
                    font-size: 19px;
                    margin-left: -10px;
                    margin-right: 19px;
                    color: var(--global_color);
                    font-weight: bold;
                }
            }



            .ng-select-container {
                align-items: center;
            }

            &:hover>*:first-child .ng-value-label {
                color: var(--global_color);
            }

            &:hover .ng-arrow-wrapper .ng-arrow::before {
                color: var(--global_color);
            }

            .ng-arrow {
                @include wh(9px !important, 5px !important);

                &::before {
                    color: #c7d0d3;
                    font-size: 5px;
                }
            }

        }


    }
}

.select-filter__date {
    input {
        padding-right: 25px;
        cursor: default;
    }

    .icon-calendar {
        font-size: 16px;
        color: $second_color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        pointer-events: none;
    }

    .icon-reset-calendar{
        @include wh(17px, 100%);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        cursor: pointer;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.select-filter__input {
    input {
        font: 13px/13px $Semibold;
        color: #4f565a;

        &::placeholder {
            font: 13px/13px $Semibold;
            color: #4f565a;
        }
    }
}



.select-filter {
    .ng-dropdown-panel {
        max-height: 364px;
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 0px 4px 24px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #f1f3f3;
        border-top: 0;
        background-color: #ffffff;
        top: calc(100% + 2px);

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--global_color);

        }

        &::-webkit-scrollbar-track {
            background-color: white;
        }

        .ng-option-selected {
            background-color: #f5f5f5;
        }
    }

    .ng-value-container {
        height: 100%;
        padding-left: 13px;
        align-items: center;
    }

    .ng-arrow-wrapper {
        @include wh(40px, 100%);
        display: flex;
        align-items: center;
        justify-content: center;

        .ng-arrow {
            display: block;
            font-family: 'icomoon';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &::before {
                content: "\e901";
                display: block;
            }
        }
    }

    .ng-clear-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ng-select-opened .ng-arrow-wrapper .ng-arrow::before {
        content: "\e924";
    }


    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        padding: 17px 5px 17px 13px;

        +.ng-option {
            border-top: solid 1px #f1f3f3;
        }
    }

    .ng-option-label,
    .ng-placeholder {
        font: 13px/13px $Semibold;
        color: #4f565a;
        letter-spacing: normal;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items {
        max-height: 100% !important;
    }
}

// tooltip

.icon-exclamatory__totalprice {
    @include wh(15px);
    margin-left: 7px;
    cursor: pointer;
    position: relative;

    .tooltip-content {
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;

        @include xl {
            right: calc(100% - 22px);
            left: auto;
            transform: translateX(0);

            .triangle-down::before {
                left: calc(100% - 30px);
            }
        }

        @include lg {
            right: auto;
            left: -8px;
            transform: translateX(0);

            .triangle-down::before {
                right: calc(100% - 30px);
                left: 0;
            }
        }

        @include xs {
            right: auto;
            left: 50%;
            transform: translateX(-50%);

            .triangle-down::before {
                left: 0;
                right: 0;
            }
        }
    }
}



.order-tooltip__list {
    padding: 18px;
    border-radius: 7px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.13);
    border: solid 1px #ebebeb;
    background-color: #ffffff;

    li {
        white-space: nowrap;

        +li {
            margin-top: 10px;
        }

        p {
            font: 13px $Regular;
            color: $second_color;
            margin-right: 30px;
        }

        span {
            font: 15.5px $Semibold;
            color: $third_color;
        }
    }
}

.ng-option-label,
.ng-value-label {
    font: 13px/13px $Semibold;
    color: #4f565a;
    letter-spacing: normal;
}

// pagination

.order-pagination {
    min-height: 86px;
    background-color: white;
    border-top: 2px solid #f8f8f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}