//ARROWS
.owl-nav {
    [class*="owl-"] {
        color: transparent;
        font-size: 0;
        overflow: hidden;
        position: absolute;
        background-color: #e0e0e0;
        transition: $transition;
        display: flex;
        align-items: center;
        justify-content: center;
        // icon font
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 999;

        &:hover {
            background-color: var(--global_color);
        }

        &:before {
            font-size: 17px;
            color: #3b474e;
        }

        &:hover:before {
            color: white;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            opacity: .5;

            &:hover {
                background-color: #e0e0e0;
            }

            &:hover:before {
                color: #3b474e;
            }
        }
    }

    .owl-prev {
        left: 0;

        &:before {
            content: "\e903";
        }
    }

    .owl-next {
        right: 0;

        &:before {
            content: "\e902";
        }
    }

    &.disabled{
        display: none;
    }
}




// DOTS
.owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-top: 37px;

    .owl-dot {
        @include wh(16px);
        border-radius: 50%;
        border: 3px solid transparent;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            @include wh(8px);
            border-radius: 50%;
            background-color: rgba($third_color, .5);
            display: block;
            transition: $transition;

            &:hover {
                background-color: var(--global_color);
            }
        }

        &.active {
            border: 3px solid $third_color;

            span {
                background-color: transparent;
            }

        }
    }
}
