.checkbox {
    display: inline-flex;
    cursor: pointer;

    &-checkmark {
        @include wh(18px);
        border-radius: 4px;
        border: solid 1px #e0e0e0;
        background-color: #ffffff;
        color: white;
        font-size: 10px;
        color: white;
    }
    input:checked~&-checkmark {
        background-color: var(--global_color);
        border: solid 1px var(--global_color);
    }


    &-radio {
        @include wh(16px);
        border: solid 3px rgba(#b4b4b4, .8);
        border-radius: 50%;
    }
    input:checked~&-radio {
        border: solid 3px var(--global_color);
    }
    &-name {
        font: 15.5px/1 $Regular;
        color: $second_color;
        margin-left: 10px;
    }
}
