// required -- START
.required {
    position: relative;

    &.sort-select__filter .ng-select-container,
    input,
    textarea {
        border: 1px solid #d31145 !important; // pending-changes...
    }

    .required-tooltip {
        display: block;
        font: 12px $Regular;
        color: #D31145;
        text-align: right;
        margin-top: 5px;
        position: absolute;
        bottom: 105%;
        right: 0;

        @include sm {
            position: static;
        }
    }
}

// required -- END