.table {
    margin-top: 20px;
    margin-bottom: 30px;
    &-box {
        padding: 20px;

        &__area {
            margin-bottom: 20px;

            &--select {
                max-width: 231px;
                width: 100%;

                

                @include sm {
                    max-width: 100%;
                    margin-bottom: 16px;
                }
            }

            &--input {
                max-width: 231px;
                @include wh(100%, 40px);

                input {
                    @include wh(100%);
                    display: block;
                    font: 15px $Regular;
                    color: $second_color;
                    padding: 0 20px;
                    border: 1px solid #E3E7E9;
                    border-radius: 4px;

                    &::placeholder {
                        color: #C9D0D3;
                    }
                }

                @include sm {
                    max-width: 100%;
                }
            }

            @include sm {
                display: block;
            }
        }

        &__info {
            position: relative;
            border: 1px solid #E7E7E7;
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            overflow: auto;


            table {
                thead tr th {
                    font: 10px $Extrabold;
                    color: $third_color;
                    padding: 10px 15px;
                    background: #F6F6F6;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    white-space: nowrap;

                    input {
                        width: 100%;
                        display: block;
                        border: 1px solid rgba($second_color, 0.1);
                        font: 13px $Extrabold;
                        letter-spacing: .65px;
                        color: $second_color;
                        padding: 2px;


                        &::placeholder {
                            font: 13px $Extrabold;
                            color: rgba($second_color, 0.5);
                        }
                    }
                }

                tbody tr td {
                    font: 14px $Regular;
                    color: $second_color;
                    padding: 15px;
                    vertical-align: middle;

                    a {
                        color: var(--global_color);
                        

                        &:hover{
                            color: $green_color;
                        }
                    }

                    .count {
                        color: $second_color;
                        text-decoration: underline;
                        

                        &:hover {
                            color: var(--global_color);
                        }
                    }

                    .name {
                        width: 205px;
                    }
                }

                tr {
                    border-bottom: solid 1px #ebebeb;
                }
            }

            &--icons {
                margin: 0 -8.5px;

                .icon {
                    padding: 0 8.5px;
                    color: #8FA2A7;
                    font-size: 17px;
                    cursor: pointer;
                    
                    position: relative;

                    &:hover {
                        color: var(--global_color);

                        &::after {
                            content: attr(data-title);
                            position: absolute;
                            bottom: 15px;
                            right: -30%;
                            font: 10px $Regular;
                            color: $third_color;
                            letter-spacing: 0.1em;
                            padding: 7px 14px;
                            background: #FFFFFF;
                            border: 1px solid #E7E7E7;
                            white-space: nowrap;
                            text-align: center;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                            border-radius: 4px;
                            z-index: 999;
                        }
                    }
                }
            }

            @include sm {
                padding-bottom: 11px;
            }
        }

    }

    &-pagination {
        background: #F6F6F6;
        border: 1px solid #E7E7E7;
        border-top: 0;
        border-radius: 0px 0px 4px 4px;
        padding: 15px;

        &__text {
            font: 14px $Regular;
            color: $third_color;
            white-space: nowrap;
        }
    }
}

// select
.contractor-add__select{
    &.sort-select__filter {
        .ng-select-container {
            height: 40px;
            border: 1px solid #E3E7E9;
        }

        .ng-arrow-wrapper {
            border-left: 0;
        }
    }

    &.select-filter .ng-arrow-wrapper {
        width: 40px;
    }
}