$font-icon-path:'/assets/fonts/icons/';

@font-face {
    font-family: 'icomoon';
    src: url($font-icon-path + 'icomoon.eot?mbk7ji');
    src: url($font-icon-path + 'icomoon.eot?mbk7ji#iefix') format('embedded-opentype'),
        url($font-icon-path + 'icomoon.ttf?mbk7ji') format('truetype'),
        url($font-icon-path + 'icomoon.woff?mbk7ji') format('woff'),
        url($font-icon-path + 'icomoon.svg?mbk7ji#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}



.icon {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;

    &::before {
        display: block;
    }
}
